body {
    margin: 0;
    padding: 0;
    background-color: blueviolet;
}

.contenedor {
    margin: 2%;
    height: 100%!important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#listaUsuarios {
    width: 50%;
}

#listaTareas {
    width: 50%;

}

.tarjeta {
    width: 95%;
    background-color: rgb(228, 125, 8);
    border: 2px solid darkred;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn {
    margin: 10px;
    width: 100px;
    height: 40px;
    background-color: green;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.btn:hover {
    cursor: pointer;
    background-color: white;
    color: green;
}